{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Lựa chọn settings</div>
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center title-2">Danh sách settings</h3>
                </div>
                <hr>
                <form action="" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                        {{ form.as_ul }}
                        {% endfor %}
                        {% else %}
                        {{ wizard.form }}
                        {% endif %}
                    </table>
                    <!-- <div class="user-data m-b-30"> -->
                    <!-- <div class="table-responsive table-data">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="au-checkbox">
                                                <input type="checkbox">
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </th>
                                        <th>Name</th>
                                        <th>Source</th>
                                        <th>Plugin</th>
                                        <th>Overview</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for setting in settings_list %}
                                    <tr>
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox">
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>{{ setting.name }}</td>
                                        <td>{{ setting.source }}</td>
                                        <td>{{ setting.plugin }}</td>
                                        <td>{{ setting.overview }}</td>

                                    </tr>
                                    <tr class="spacer"></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> -->
                    <!-- </div> -->

                    {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First</button>
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
                    {% endif %}
                    <input type="submit" value="Next" />


                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}