{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">Thêm test tiem</div>
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center title-2">Thông tin test item</h3>
                </div>
                <hr>
                <form action="" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                        {{ form }}
                        {% endfor %}
                        {% else %}
                        {{ wizard.form }}
                        {% endif %}
                    </table>
                    {% if wizard.steps.prev %}
                    <div class="card-footer">
                        <button name="wizard_goto_step" type="submit" class="btn btn-success btn-sm"
                            value="{{ wizard.steps.first }}">First</button>
                        <button name="wizard_goto_step" type="submit" class="btn btn-success btn-sm"
                            value="{{ wizard.steps.prev }}">Previous</button>
                    {% endif %}
                        <input type="submit" value="Next" class="btn btn-success btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}