{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Account</div>
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center title-2">Thông tin cơ bản</h3>
                    </div>
                    <hr>
                    <form action="" method="post" novalidate="novalidate">
                        {% csrf_token %}

                        
                        <table>
                            {{ wizard.management_form }}
                            {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                            {{ form.as_ul }}
                            {% endfor %}
                            {% else %}
                            {{ wizard.form }}
                            {% endif %}
                        </table>
                        {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First</button>
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
                        {% endif %}
                        <input type="submit" value="Next" />
    
                    </form>
                </div>
            </div>
        </div>

    </div>
</form>

{% endblock %}