{% extends "base.html" %}
{% load static %}
{% load paginate %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Danh sách trader</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
               
            </div>
            <div class="table-data__tool-right">
                <a class="au-btn au-btn-icon au-btn--green au-btn--small" href="#">
                    <i class="zmdi zmdi-plus"></i>Add item</a>
              
            </div>
            <div class="table-data__tool-right">
                <a class="au-btn au-btn-icon au-btn--green au-btn--small" href="{% url 'backtests:order'  %}">
                    <i class="zmdi zmdi-plus"></i>Order backtest</a>
              
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Kiểu</th>
                        <th>Source</th>
                        <th>Plugin</th>
                        <th>Overview</th>
                    </tr>
                </thead>
                <tbody>
                        {% if per_page %}
                        {% paginate per_page settings_list %}
                      {% else%}
                        {% paginate 10 settings_list %}
                      {% endif %}
                      
                    {% for item in settings_list %}
                    <tr class="tr-shadow">
                        <td>{{ item.name }}</td>
                        <td>{{ item.kieu }}</td>
                        <td>{{ item.source }}</td>
                        <td>{{ item.plugin }}</td>
                        <td>{{ item.overview }}</td>
                      
                        <td>
                            <div class="table-data-feature">
                                <a class="item" data-toggle="tooltip" data-placement="top" title="Send" href="#">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </a>
                                <a class="item" data-toggle="tooltip" data-placement="top" title="Edit" href="#">
                                    <i class="zmdi zmdi-edit"></i>
                                </a>
                                <a class="item" data-toggle="tooltip"  data-placement="top" title="Delete" href="#">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>
                                <a class="item" data-toggle="tooltip" data-placement="top" title="More" href="{% url 'robos:detail_setting' item.id %}">
                                    <i class="zmdi zmdi-more"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                   {% endfor %}
                </tbody>
            </table>
            {% ifequal settings_list|length 0 %}
            <h6 class="text-center">No Trader Records Found</h6>
          {% endifequal %}
          <div class="text-center row marl">
            {% show_pages %}
          </div>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>
{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $('.item').click(function(e){
    if ($(this).children(":first").attr('class') == "zmdi zmdi-delete") {
          e.preventDefault()
          url = $(this).attr('href')
          if (!confirm('Are you sure you want to delete?'))
              return;
          window.location = $(this).attr('href')
      }
    
  });
  </script>
{% endblock %}