{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-header">
                Create <strong>User</strong>
            </div>
            <div class="card-body card-block">
                <form action="" method="post" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-email" class=" form-control-label">First Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="email" id="hf-email" name="hf-email" placeholder="Họ và tên đệm..." class="form-control">
                            <span class="help-block">Điền họ và tên đệm của bạn. Ví dụ: Nguyễn Đức</span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-email" class=" form-control-label">Last Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="email" id="hf-email" name="hf-email" placeholder="Tên..." class="form-control">
                            <span class="help-block">Điền vào tên của bạn. Ví dụ: Bình</span>
                        </div>
                    </div>

                    <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="hf-email" class=" form-control-label">User Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
                                <span class="help-block">Please enter your email</span>
                            </div>
                        </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-email" class=" form-control-label">Email</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
                            <span class="help-block">Please enter your email</span>
                        </div>
                    </div>

                    <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="hf-email" class=" form-control-label">User Role</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
                                <span class="help-block">Please enter your email</span>
                            </div>
                        </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Password</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..."
                                class="form-control">
                            <span class="help-block">Please enter your password</span>
                        </div>
                    </div>
                    <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="hf-email" class=" form-control-label">Upload profile picture</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
                                <span class="help-block">Please enter your email</span>
                            </div>
                        </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}