{% extends "base.html" %}
{% load static %}   
{% load bootstrap4 %}

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">Thêm test tiem</div>
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center title-2">Thông tin test item</h3>
                </div>
                <hr>
                <form action="" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <!-- {% bootstrap_form form %} -->
                   
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Tên</label>
                        {{ backtest_form.name }}
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="cc-name" class="control-label mb-1">Thời gian bắt đầu</label>
                        {{ backtest_form.time_start}}
                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">Thời gian kết thúc</label>
                        {{ backtest_form.time_end}}
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>
                  
                    <div class="form-group">
                        <label  class="control-label mb-1">Trạng thái</label>
                        {{ backtest_form.status}}
                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label  class="control-label mb-1">Giới thiệu</label>
                        {{ backtest_form.overview}}
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label mb-1">Ghi chú</label>
                        {{ backtest_form.note}}
                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>
                   
                    <div>
                        <button id="payment-button" type="submit" name="next_btn"  value="Next" class="btn btn-lg btn-info btn-block">
                            <i class="fa fa-lock fa-lg"></i>&nbsp;
                            <span id="payment-button-amount">Next</span>
                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                        </button>
                        <!-- <button id="payment-button" type="submit" name="save_btn" value="Save" class="btn btn-lg btn-info btn-block">
                            <i class="fa fa-lock fa-lg"></i>&nbsp;
                            <span id="payment-button-amount">Save</span>
                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                        </button> -->
                    </div>
                
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}