{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load common_tags %}
{{ List|indexer:x }}
{{ object|diction:atrribute }}

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}




{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<div class="row">
    <div class="col-lg-12">
        <form action="" method="post" novalidate="novalidate">
            {% csrf_token %}
            <!-- <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                        {{ form.as_ul }}
                        {% endfor %}
                        {% else %}
                        {{ wizard.form }}
                        {% endif %}
                    </table> -->
            <div class="user-data m-b-30">
                <h3 class="title-3 m-b-30">
                    Lựa chọn settings</h3>
                <div class="table-responsive table-data">
                    <table class="table">
                        {{ wizard.management_form }}
                        <thead>
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                                <input type="checkbox">
                                                <span class="au-checkmark"></span>
                                            </label>
                                </td>
                                <td>Name</td>
                                <td>Source</td>
                                <td>Plugin</td>
                                <td>Overview</td>
                            </tr>
                        </thead>
                        <tbody>

                            {% for setting_field in wizard.form.get_setting_fields %}
                            <tr>
                                <td>
                                    <label class="au-checkbox">
                                        {{ setting_field }}
                                        <span class="au-checkmark"></span>
                                    </label>

                                </td>
                                <td>{{ settings_list|indexer:forloop.counter0|diction:"name" }}</td>
                                <td>{{ settings_list|indexer:forloop.counter0|diction:"source" }}</td>
                                <td>{{ settings_list|indexer:forloop.counter0|diction:"plugin" }}</td>
                                <td>{{ settings_list|indexer:forloop.counter0|diction:"overview" }}</td>

                            </tr>
                            <tr class="spacer"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"
                class="btn btn-success btn-sm">First</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
                class="btn btn-success btn-sm">Previous</button>
            {% endif %}
            <input type="submit" value="Next" class="btn btn-success btn-sm" />


        </form>
    </div>
</div>

{% endblock %}