{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
<form action="" method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Account</div>
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center title-2">Thông tin cơ bản</h3>
                    </div>
                    <hr>
                    <form action="" method="post" novalidate="novalidate">
                        {% csrf_token %}
                        {% for setting in setting_list %}
                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Tên Setting</label>
                            {{ setting.name }}
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                data-valmsg-replace="true"></span>
                        </div>

                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Tên plugin</label>
                            {{ setting.plugin }}
                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="cc-payment" class="control-label mb-1">Setting Value</label>

                            <input type="text" id="text-input" name="text-input{{ forloop.counter }}" placeholder="Setting value" class="form-control">

                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                data-valmsg-replace="true"></span>
                        </div>

                        {% endfor %}
                        <div>
                            <button id="payment-button" type="submit" name="save_btn"  value="Save" class="btn btn-lg btn-info btn-block">
                                <i class="fa fa-lock fa-lg"></i>&nbsp;
                                <span id="payment-button-amount">Save</span>
                                <span id="payment-button-sending" style="display:none;">Sending…</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</form>

{% endblock %}